<% 
/*
  このページの設定いろいろ
  変数のスコープは常にグローバルっぽいので気をつける
*/
  pageTitle = "パーシャルループ" 
%>
<% include ejs/header %>
<body>

  <h1><img src="sample.jpg" width="600" height="340" alt=""></h1>
    
    <% shops.forEach(function(shop){ %>
    <% include ejs/loop %>
    <% }) %>

  <% include ejs/footer %>
  <script src="<%= theme.siteRootURL %>/js/top.js"></script>
  <% if(theme.ga && theme.ga.length>1){ %>
  <% include ejs/ga %>
  <% } %>
</body>
</html>